/**{
    border:dotted 1px red;
}*/
body{
    background: #031926;
    overflow: hidden;
}
.bubbles{
    position: absolute;
    display:flex;
}
.bubbles span{
    position: relative;
    width: 5px;
    height: 5px;
    background:#ffffff ;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #082d3544,
    0 0 15px #4fc3dc,
    0 0 10px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s/var(--i));
}
.bubbles span:nth-child(even)
{
    background:#eeff00 ;
    box-shadow: 0 0 0 10px #082d3544,
    0 0 15px #4fc3dc,
    0 0 10px #4fc3dc;
}
@keyframes animate {
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
    
}
.panel{
    position:absolute;
    background-color: rgba(46, 58, 111, 1);
    background-image: radial-gradient(circle, rgb(21, 29, 66) 0%, 
    rgb(5, 28, 41) 100%);
    width:80%;
    height:80%;
    /*border: dotted 1px red;*/
    border-radius:24px;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    -webkit-box-shadow: 5px 5px 50px 0px rgba(2, 0, 6, 1);
    -moz-box-shadow: 5px 5px 50px 0px rgba(2, 0, 6, 1);
    box-shadow: 5px 5px 50px 0px rgba(2, 0, 6, 1);
    text-align: center;
    color:white;
}
/* .elements{      
    text-align: center;
    color:white;
} */
.a, .b, .c{
    width:250px;
    height:auto;
    padding:20px;
    border:none; 
    /*border: dotted 1px red;*/
    background:#031926;
    border-radius:24px;   
    display:inline-block;
    -webkit-box-shadow: 5px 5px 50px 0px rgb(16, 4, 39);
    -moz-box-shadow: 5px 5px 50px 0px rgb(16, 4, 39);
    box-shadow: 5px 5px 50px 0px rgb(16, 4, 39);
}

